.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding-left: 20px;
}

.social-media a {
    text-decoration: none;
}

.social-media a:visited {
    color: black !important;
}

.icon {
    margin-top: 30px;
    width: 45px;
    height: 45px;
    /* iOS default styling override */
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
}

.icon.github:hover {
    color: black !important;
}

.icon.linkedin:hover {
    color: #0A66C2 !important;
}

.icon.youtube:hover {
    color: #FF0000 !important;
}

.icon-info {
    display: flex;
    align-items: center;
}

.icon-info p {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 26px;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    margin-top: 50px;
}

input {
    width: 40%;
    height: 50px;
    margin: 10px 10px 10px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

input,
textarea {
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}

textarea {
    width: 90%;
}

button {
    margin-top: 10px;
    width: 90%;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}