@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.main-photo-div {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg');
    height: 65vh;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    background-size: cover;
    position: relative;
}

.photo-box {
    position: absolute;
    color: white;
    width: 100%;
    margin-top: 80px;
}

.photo-box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.photo-box h1 {
    font-size: 38px;
    margin-top: 10px;
}

.photo-box h2 {
    margin-top: 5px;
}

.skills-marquee-container h1,
.projects h1,
.contact h1 {
    margin-top: 55px;
    font-size: 48px;
}

.skills-marquee-container p,
.about-me p {
    font-size: 20px;
    margin-top: 30px;
    padding: 25px;
    
}

.skills-marquee-container img {
    margin-top: 30px;
    padding: 10px;
    width: 110px;
    height: 100px;
}

.lottie {
    margin: auto;
}

.about-me h1 {
    font-size: 48px;
    margin-top: 80px;
}

.photos {
    margin-top: 50px;
}

.photos h2 {
    margin: 15px 0px 15px 0;
}

.photos img {
    width: 300px;
    height: 300px;
    padding: 5px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.chip-box {
    margin-top: 25px;
}

.MuiChip-root {
    font-size: 20px !important;
}

.contact h1 {
    margin-top: 50px !important;
    width: 90%;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .photo-box {
        margin-top: 80px;
    }
    
    .photo-box h1 {
        font-size: 50px;
    }

    .skills-marquee-container {
        width: 65%;
        margin: auto;
    }

    .lottie {
        width: 400px;
        height: 400px;
    }

    .about-me p {
        margin: auto;
        padding: 20px;
        margin-top: 30px;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .flex-item {
        /* Give flex-items even width and height post wrap */
        flex-basis: calc(50% - 2px); 
    }

    .contact {
        width: 75%;
        margin: auto;
        padding-left: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-box {
        margin-top: 70px;
    }

    .photo-box h1 {
        margin-top: 25px;
        font-size: 52px;
    }

    .photo-box h2 {
        margin-top: 20px;
        font-size: 28px;
    }

    .skills-marquee-container {
        width: 50%;
    }

    .skills-marquee-container p,
    .about-me p {
        font-size: 24px;
    }

    .skills-marquee-container img {
        width: 125px;
        height: 125px;
    }
    
    .photos img {
        width: 600px;
        height: 600px;
        padding: 10px;
    }

    .contact {
        width: 50%;
        margin: auto;
        padding-left: 20px;
    }

    .flex-item h2 {
        font-size: 36px;
    }

    .MuiChip-root {
        font-size: 24px !important;
    }
}

@media screen and (min-width: 1500px) {
    .photo-box {
        margin-top: 70px;
    }

    .photo-box img {
        width: 275px;
        height: 275px;
    }

    .photo-box h1 {
        font-size: 58px;
    }

    .photo-box h2 {
        font-size: 32px;
    }
    
    .skills-marquee-container {
        width: 50%;
        margin: auto;
    }

    .skills-marquee-container img {
        width: 200px;
        height: 200px;
    }

    .skills-marquee-container p,
    .about-me p {
        font-size: 30px;
        width: 75%;
        margin: auto;
        padding-top: 50px;
    }

}